@font-face {
  font-family: SimplyGlamorous;
  src: url(../fonts/Simply-Glamorous.ttf);
  format('truetype');
}

@font-face {
  font-family: Palatino;
  src: url(../fonts/Palatino.ttf);
  format('truetype');
}

@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
  format('truetype');
}

.container{
  width: 70%;  
  margin-top: 5%;
}

#main_page{
    background-color: #F2F1F1;
    width: 100%;  
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; 
}

body{
	font-family: Palatino;
    font-size: 16px;
}

#logo{
    font-family: SimplyGlamorous;
    font-size: 32px;
    color: #42B3AD;
    line-height: 1;
}

#role{
    margin-left: 25px;
    font-family: Palatino;
    font-size: 16px;
    color: #42B3AD;
    line-height: 1;
}
    
.section{
  margin-top: 80px;  
}

h1{
    font-family: Raleway-Regular;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
    font-size: 30px;
    line-height: 64px;
    /*font-weight: 300;*/
    text-align: center;
    z-index: 1;
    font-weight: bold;
}

h2{
    font-family: Raleway-Regular;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-family: Raleway-Regular;
    font-size: 18px;
    line-height: 3;
}

h4{
    font-family: Raleway-Regular;
    font-size: 14px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}

h5{
    font-family: Raleway-Regular;
    font-size: 9px;
    line-height: 1;
    padding-bottom: 10px;
    font-weight: bold;
}

h6{
    font-family: Raleway-Regular;
    font-size: 8px;
    line-height: 1;
}


.section-title [class*=fa]{
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -60px;
    font-size: 120px;
    color: black;
    z-index: -1;
}


/* Header */

#main_ul {
  float: right;
  list-style-type: none;
  text-align: right;
}

.main_a {
  color: black;
  text-decoration: none; /* no underline */
  font-weight: bold;
}

.main_a:hover { 
  color: black; 
  text-decoration: none; /* no underline */
  font-weight: bold;
}

#main_hr {
    float: right;
    margin-top: 3%;
    margin-bottom: 0px;
    border: none;
    width: 250px;
    height: 3px;
    background-color: black;
}

/* modal */
    
#btn-close-modal {
    width: 100%;
    height: 75px;
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 2%;
    padding-right: 5%;
}

#animatedModal{
    display: none;
}

#modal_row {
    background-color: #20252a;
    padding-top: 75px;
}

.modal_a {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.modal_a:hover { 
    color: #FFFFFF; 
    text-decoration: none; /* no underline */
}

#modal_ul {
    //float: right;
    list-style-type: none;
    text-align: center;
    width: 100%;
    margin: auto; 
}

.modal_hr {
    //float: right;
    margin-top: 4%;
    margin-bottom: 3%;
    border: none;
    width: 150px;
    height: 2px;
    background-color: #FFFFFF;
}

/* Portfolio */


.masonry {
    //margin: 1.5em 0;
    //padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    //font-size: .85em;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

.item {
    display: inline-block;
    //background: #fff;
    //padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    //box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //-webkit-box-sizing: border-box;
    //box-shadow: 2px 2px 4px 0 #ccc;
}

.portfolio_image {
    position: relative;
    display: inline-block;
}

.overlay {
    display: none;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

.portfolio_image:hover .overlay {
    width: 100%;
    height: 42px;
    background: #42B3AD;
    //opacity: 0.85;
    position: absolute;
    bottom: 24px;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* All other styling - see example */

    img {
        vertical-align: top; /* Default is baseline, this fixes a common alignment issue */
    }
}

/* Skills */
     
#skills .row.skills_line {
    //width: 100%;
    //margin: auto;
    height: 6px;
    background: #42B3AD;
    margin-bottom: 24px;
    visibility: visible;
}

#skills .skills_line .skills_dot {
    margin: -7px auto auto auto;
    //margin-left: -7px;
    display: block;
    width: 20px;
    height: 20px;
    background: #42B3AD;
    border: 5px solid #F2F1F1;
    border-radius: 50%;
}

.skills .icon {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    width: 160px;
    height: 160px;
    text-align: center;
    font-size: 72px;
    line-height: 140px;
    color: #B7BCBE;
    //background: none;
    border: 5px solid #42B3AD;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.no-opacity .skills .icon {
	color: #FFFFFF;
}

.skills .icon:after {
	pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #42B3AD;
    border-radius: 50%;
    border: 2px solid #42B3AD;
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
    top: -2px;
    left: -2px;
    z-index: -1;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.skills .icon:hover{
    color: #FFFFFF;
}

.skills .icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	transition: all 0.4s ease-out;
}


.skills h2 {
    margin-bottom: 24px;
}

.skills.bottom-row p {
    margin-top: 48px;
}

.dev_skills span {
  display: inline-block;
  width: 50px;
  text-align: left;
}

/* About */

.banner{
    height: 275px;
    width: 100%;
    background: url('../assets/images/about_bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#my_photo_container{
    float: left;
}

#my_photo{
    width: 175px;
}

#card_half{
    height: 200.433px;
    width: 225px;
    float: left;
    background-color: white;
}

#card{
    margin: -200px auto auto auto; 
    height: 240px;
    width: 400px;
    background-color: none;
    position: relative;
}

#card_base{
    background-color: #42B3AD;
    width: 100%;
    height: 40px;
    //opacity: 0.85;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#card_text{
    margin: 25px auto auto 40px; 
}

#about_text{
    margin-top: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    font-size: 10pt;
}

.social_media{
    margin: 0 0 0 135px;
    padding: 0 0 0 0;
}

.social_media li{
    display: inline-block;
    margin: 0 10px 10px 0;
}

.social_media li a{
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}


.social_media li a:hover{
    padding: 0;
    color: #B7BCBE;
    text-decoration: none;
}

/* Contact */

#contact{
    padding-bottom: 15px;
}
#contact_content{
    width: 80%;
    margin: auto;
}

#form_margin{
    width: 15px;
}

#signature{
    font-family: SimplyGlamorous;
    font-size: 20px;
    line-height: 2;
}

#submit_button {
    border: 3px solid black;
    float: right;
}

#copyright{
    margin: 15px auto auto;
    font-size: 10pt;
}

:placeholder-shown {
  font-family: Palatino;
  font-size: 14px;
}

/* xs (for phones - screens less than 768px wide) */
@media screen and (max-width: 767px) and (min-width: 0px) {
    
    #for_testing{
        width: 100%;
        height: 10px;
        background-color: green;
    }
    
    body{
        font-size: 12px;
    }
    
    /* Header */
    
    .container{
        width: 90%;  
        //margin-top: 5%;
    }
    
    #main_page{
        background-color: #FFFFFF;
        width: 90%;  
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto; 
    }

    #logo{
        font-family: SimplyGlamorous;
        font-size: 22px;
        color: #42B3AD;
        line-height: 1;
        white-space: nowrap;
    }
    
    #role{
        margin-left: 18px;
        font-family: Palatino;
        font-size: 11px;
        color: #42B3AD;
        white-space: nowrap;
    }   
    
    #menu_bars{
        font-size: 28px;  
        text-align: right;   
        margin-top: -12px;        
    }
      
    .modal-content{
        border: 1px solid "#20252a";
    }

    .section{
        margin-top: 25px;  
    }
    
    h1{
        font-family: Raleway-Regular;
        font-size: 18px;
        margin-bottom: 25px;
        font-weight: bold;        
    }
    
    h2{
        font-family: Raleway-Regular;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }
    
    
    h3{
        font-family: Raleway-Regular;
        font-size: 15px;
        line-height: 4;
    }
    
    h4{
        font-family: Raleway-Regular;
        font-size: 11px;
        line-height: .75;
        font-weight: bold;
    }

    h5{
        font-family: Raleway-Regular;
        font-size: 7px;
        line-height: .75;
        padding-bottom: 5px;
        font-weight: bold;
    }

    h6{
        font-family: Raleway-Regular;
        font-size: 6px;
        line-height: .25;
    }
    
    /* Portfolio */
   
    .masonry {
        background-color: #F2F1F1;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    
    .mobile_hidden {
        display: none;
    }
   
    #show_more {
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }
    
    /* Skills */
    
    #skills .row.skills_line {
        visibility: hidden;
    }
 
    #skills p {
        margin-bottom: 0px;
    } 
   
    #skills .mobile_icon {
        margin-top: 50px;
    } 
    
    /* About */
   
    .banner{
        height: 200px;
        width: 200%;
        background: url('../assets/images/about_bg.jpg') no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        margin-left: -50%;
    }

    #my_photo{
        width: 100px;
    }

    
    #card_half{
        height: 114.553px;
        width: 125px;
        float: left;
        background-color: white;
    }
    
    #card{
        margin: -165px auto 10px auto; 
        height: 140px;
        width: 225px;
        background-color: #42B3AD;
    }

    #card_text{
        margin: 10px auto auto 10px; 
    }

    .social_media{
        margin: 0 0 0 60px;
        padding: 0 0 0 0;
    }

    .social_media li{
        display: inline-block;
        margin: 0 10px 10px 0;
    }

    .social_media li a{
        display: inline-block;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        -webkit-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
    }

    #about_text{
        margin-top: 40px;
        width: 225px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Contact */
    #contact{
        background-color: #F2F1F1;
    }
    
    #contact-form{
        margin-top: 25px;
    }
    
    #signature{
        font-size: 16px;
    }
    
    #submit_button {
        border: 3px solid black;
        width: 100%
    }
}

.wow { 
    visibility: hidden; 
}


/* sm (for tablets - screens equal to or greater than 768px wide) */
@media screen and (max-width: 991px) and (min-width: 768px) {
    
    #for_testing{
        width: 100p%;
        height: 10px;
        background-color: yellow;
    }
    
    body{
       font-size: 14px; 
    }
    
    
    #logo{
        font-family: SimplyGlamorous;
        font-size: 26px;
        color: #42B3AD;
        line-height: 1;
    }
    
    #role{
        margin-left: 20px;
        font-family: Palatino;
        font-size: 13px;
        color: #42B3AD;
        line-height: 1;
    }  
    
    #menu_bars{
        font-size: 28px;  
        text-align: right;   
        margin-top: -12px;        
    }
    
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    
    h1{
        font-family: Raleway-Regular;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 75px;
        font-size: 20px;
        line-height: 64px;
        /*font-weight: 300;*/
        text-align: center;
        z-index: 1;
        font-weight: bold;
    }

    h2{
        font-family: Raleway-Regular;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    p{
        font-size: 12px;
    }
    
    /* Skills */
    .skills .icon {
        position: relative;
        display: inline-block;
        margin-bottom: 24px;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 45px;
        line-height: 80px;
        color: #B7BCBE;
        //background: none;
        border: 5px solid #42B3AD;
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
    }
    
    .dev_skills span {
      display: inline-block;
      width: 38px;
      text-align: left;
    }
    /*
    .skills.bottom-row p {
        margin-top: 40px;
    }
    */
    /* Contact */
    #contact-form{
        margin-top: 25px;
    }
}



/* md (for small laptops - screens equal to or greater than 992px wide) */
@media screen and (max-width: 1199px) and (min-width: 992px) { 
    #for_testing{
        width: 100%;
        height: 10px;
        background-color: orange;
    }
    
    body{
       font-size: 15px; 
    }
    
    /* Header */
    
    #logo{
        font-family: SimplyGlamorous;
        font-size: 28px;
        color: #42B3AD;
        line-height: 1;
    }

    #role{
        margin-left: 22px;
        font-family: Palatino;
        font-size: 14px;
        color: #42B3AD;
        line-height: 1;
    }

    .overlay {
        display: none;
        font-size: 10px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
    }
    
    .portfolio_image:hover .overlay {
        width: 100%;
        height: 42px;
        background: #42B3AD;
        //opacity: 0.85;
        position: absolute;
        bottom: 22px;
        left: 0;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        /* All other styling - see example */

        img {
            vertical-align: top; /* Default is baseline, this fixes a common alignment issue */
        }
    }
    
    h1{
        font-family: Raleway-Regular;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 100px;
        font-size: 25px;
        line-height: 64px;
        /*font-weight: 300;*/
        text-align: center;
        z-index: 1;
        font-weight: bold;
    }

    h2{
        font-family: Raleway-Regular;
        text-transform: uppercase;
        font-size: 18px;
    }
/*
    h3{
        font-family: Raleway-Regular;
        font-size: 18px;
        line-height: 4;
    }
    */
    
    /* Skills */
    .skills .icon {
        position: relative;
        display: inline-block;
        margin-bottom: 24px;
        width: 140px;
        height: 140px;
        text-align: center;
        font-size: 65px;
        line-height: 120px;
        color: #B7BCBE;
        //background: none;
        border: 5px solid #42B3AD;
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
    }
}



/* lg (for laptops and desktops - screens equal to or greater than 1200px wide) */
@media screen and (min-width: 1200px) { 
    #for_testing{
        width: 100%;
        height: 10px;
        background-color: red;
    }
}
