<!DOCTYPE html>
<html lang="en">
  {% include "project_head.html" %}
  <body>
    <!--<div id="for_testing"></div>-->
  <!-- Header -->
  <div class="container">
    {% include "project_header.html" %}
    <div id="main_page">
      <div class="row">
        <div class="col-md-5">
          <img class="project_photo img-responsive" src="{{ url_for('static', filename='assets/images/projects/preview/breakfast.png') }}" height="auto" width="85%"
          alt="" />
        </div>
        <div class="col-md-7">
          <div>
            <h1 class="center-text">Breakfast Delivery Service</h1>
            <!--<h1 class="center-text">Breakfast Delivery Service</h1>-->
            <!--<p class="justify-text">
                  Sunny Side Up is a service that offers fresh, convenient, and affordable breakfast delivery to busy people.-->
            <p>The goal of this project was to create a mobile service concept and assess its technical feasibility, financial
            viability, and desirability.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <hr id="project_hr" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h2>Project Overview</h2>
          <p>
          <strong>Course Title:</strong> Mobile Service Innovation
          <br />
          <strong>Project Type:</strong> Team
          <br />
          <strong>Duration</strong>: 14 weeks
          <br />
          <strong>Methods</strong>: observation, interviews, surveys, competitive analysis, speed dating, branding, A/B testing,
          prototypes
          <br /></p>
        </div>
        <div class="col-md-7">
          <h2>Problem</h2>
          <p>31 million Americans (~10% of the population) skip breakfast each morning. This practice has been linked with
          increased risk of obesity, diabetes, high blood pressure, and heart attack.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Research</h2>
          <p>Data collected from 11 interview subjects and 59 survey respondents revealed the following key findings.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Interviews</h3>
          <p style="text-decoration:underline">Customers</p>
          <ul>
            <li>
              <p>Want fresh food fast, with little additional cost</p>
            </li>
            <li>
              <p>Meal routines change depending on day of week and time of day</p>
            </li>
          </ul>
          <p style="text-decoration:underline">Restaurants</p>
          <ul>
            <li>
              <p>Typically partner with several delivery services</p>
            </li>
            <li>
              <p>Offering fewer menu options facilitates meal preparation</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Surveys</h3>
          <ul>
            <li>
              <p>Breakfast delivery is an untapped market</p>
            </li>
            <li>
              <p>Professionals are much more likely to eat breakfast in the morning than students</p>
            </li>
            <li>
              <p>Customers are willing to tolerate limited menu options</p>
            </li>
            <li>
              <p>When busy, tired, or at work, many people would prefer having food delivered (as opposed to cooking or dining
              out)</p>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Ideation</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/notes.jpg') }}" height="auto" width="75%" alt="" />
        </div>
        <div class="col-md-4">
          <p>From the 60+ ideas generated during brainstorming, we created seven user experience scenarios and concept storyboards
          to illustrate interactions around the proposed technology.</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/ideas.jpg') }}" height="auto" width="75%" alt="" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Predictive Ordering</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/predictive_ordering.png') }}" height="auto" width="100%"
          alt="" />
        </div>
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Breakfast Delivery</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/breakfast_delivery.png') }}" height="auto" width="100%"
          alt="" />
        </div>
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Late Night Delivery</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/late_night_delivery.png') }}" height="auto" width="100%"
          alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Limited Options</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/limited_options.png') }}" height="auto" width="100%"
          alt="" />
        </div>
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Dietary Preferences</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/dietary_preferences.png') }}" height="auto" width="100%"
          alt="" />
        </div>
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Food Truck Locator</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/food_trucks.png') }}" height="auto" width="100%"
          alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4 class="text_center">
            <strong>Meal Customization</strong>
          </h4>
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/meal_customization.png') }}" height="auto" width="100%"
          alt="" />
        </div>
        <div class="col-md-4"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Speed Dating</h2>
          <p>Speed Dating is a design method for rapidly exploring application concepts, their interactions, and contextual
          dimensions.</p>
          <p>This method was applied during both in-person and online sessions (24 total) with key stakeholders to help determine
          which idea to pursue.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Findings</h3>
          <p style="text-decoration:underline">Participants</p>
          <ul>
            <li>
              <p>Responded best to the customizable meal concept</p>
            </li>
            <li>
              <p>Expressed concern about meal dropoff, where food can get cold or stolen</p>
            </li>
            <li>
              <p>Were willing to pay $3-$5 per use of the breakfast delivery service</p>
            </li>
            <li>
              <p>Want in-advance and on-demand ordering</p>
            </li>
            <li>
              <p>Desire more menu options/variety</p>
            </li>
            <li>
              <p>Preferred in-person delivery to drop-off (83%)</p>
            </li>
            <li>
              <p>Would use the breakfast delivery service 2x / week, and pay a 10-20% delivery fee</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Outcome</h3>
          <p>After considering several factors (user need, popularity, revenue, and cost), we decided to pursue the breakfast
          delivery concept.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Branding</h2>
          <p>To create a brand identity that would capture the essence of our service concept, we explored different ideas for the
          name, color scheme, typography, iconography, and catch phrase.</p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/branding.png') }}" height="auto" width="100%" alt="Mood board" />
        </div>
        <div class="col-md-2"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Customer Journey Map</h2>
          <p>A customer journey map describes a user&#39;s experience by representing the different touchpoints that characterize
          his/her interaction with a service.</p>
          <p>After providing six concierge MVP breakfast deliveries, we created the map below to describe our typical
          customer&#39;s experience.</p>
        </div>
      </div>
                  <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/journey_map.png') }}" height="auto" width="100%"alt="Customer Journey Map" />
        </div>
        <div class="col-md-2"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Value Proposition</h2>
          
        </div>
      </div>
                        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/value_proposition.png') }}" height="auto" width="100%" alt="Value proposition" />
        </div>
        <div class="col-md-4"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h2 class="section_heading">Prototype</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/select.png') }}" height="auto" width="60%" alt="" />
          <h4 class="text_center">
            <strong>Select</strong>
          </h4>
        </div>
        <div class="col-md-3">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/customize.png') }}" height="auto" width="60%" alt="" />
          <h4 class="text_center">
            <strong>Customize</strong>
          </h4>
        </div>
        <div class="col-md-3">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/order.png') }}" height="auto" width="60%" alt="" />
          <h4 class="text_center">
            <strong>Order</strong>
          </h4>
        </div>
        <div class="col-md-3">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/breakfast/track.png') }}" height="auto" width="60%" alt="" />
          <h4 class="text_center">
            <strong>Track</strong>
          </h4>
        </div>
      </div>
          <hr />
    <!-- More Projects -->
    <div class="row">
      <div class="col-md-12">
        <h2 id="more_projects" class="section_heading">More Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div>
        <a href="{{ url_for('project_5') }}">
          <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/images/projects/preview/ucre.jpg') }}" height="100%" width="100%" alt="" />
        </a>
        </div>
        <div>
        <h5 class="text_center">Programmer-Centered Research</h5>
      </div>
      </div>
      <div class="col-md-4">
      <div>
        <a href="{{ url_for('project_3') }}">
          <img class="img-responsive" src="{{ url_for('static', filename='assets/images/projects/preview/que.png') }}" height="100%" width="100%"
          alt="" />
        </a>
        </div>
              <div>
        <h5 class="text_center">Classroom Discussion Application</h5>
      </div>
      </div>
      <div class="col-md-4">
        <div>
        <a href="{{ url_for('project_7') }}">
          <img class="img-responsive" src="{{ url_for('static', filename='assets/images/projects/preview/cura.jpg') }}" height="100%" width="100%" alt="" />
        </a>
        </div>
              <div>
        <h5 class="text_center">Health Management System</h5>
      </div>
      </div>
    </div>

      <!-- Footer -->
      <div id="copyright">
        <p>@2017 by Aubrey Henderson. All rights reserved.</p>
      </div>
    </div>
  </div>
  <!-- end container -->
  {% include "scripts.html" %}
  </body>
</html>
