#main_page {
  margin-top: 15px;
  background-color: #FFFFFF;
}
.section_heading {
  text-align: center;
  margin-bottom: 50px;
}
h1 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: left;
}
h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}
h3 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}
h4 {
  font-size: 13px;
  margin-top: 10px;
  text-transform: uppercase;
  line-height: 1.5;
}
h5 {
  font-size: 12px;
  margin-top: 15px;
}
.project_photo {
  margin-top: 35px;
}
#project_hr {
  float: left;
  margin-top: 50px;
  margin-bottom: 25px;
  border: none;
  width: 250px;
  height: 3px;
  background-color: black;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 2px solid #B7BCBE;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.text_center {
  text-align: center;
}
.col_center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.col_base {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}
#more_projects {
  font-style: italic;
  font-weight: normal;
}
